In [11]:
import requests
import re
import pandas as pd

In [12]:
page_url = 'https://hockeyviz.com/games/2223'

In [13]:
test = re.findall("<a href=\"\/game\/(\d*)\">(.{3} at .{3})<\/a>", requests.get(page_url).text)

In [14]:
df_nhl_schedule = pd.DataFrame(test, columns=['game_id', 'game'])

In [15]:
df_nhl_schedule.head()

      game_id        game
0  2022021298  BOS at MTL
1  2022021299  CAR at FLA
2  2022021300  DET at T.B
3  2022021301  N.J at WSH
4  2022021302  OTT at BUF

In [20]:
df_nhl_schedule['teams'] = df_nhl_schedule['game'].str.split(' at ')

In [25]:
df_nhl_schedule['Visitor'] = df_nhl_schedule.teams.map(lambda x: x[0])
df_nhl_schedule['Home'] = df_nhl_schedule.teams.map(lambda x: x[1])

In [29]:
df_nhl_schedule = df_nhl_schedule.drop(['game', 'teams'], axis=1)

In [30]:
df_nhl_schedule.head()

      game_id Visitor Home
0  2022021298     BOS  MTL
1  2022021299     CAR  FLA
2  2022021300     DET  T.B
3  2022021301     N.J  WSH
4  2022021302     OTT  BUF

In [31]:
df_nhl_schedule.shape

(1412, 3)

In [36]:
df_nhl_schedule = df_nhl_schedule.astype({'game_id':'int32'})
df_nhl_schedule[df_nhl_schedule.game_id > 2022020001].shape

(1311, 3)

In [34]:
df_nhl_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412 entries, 0 to 1411
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   game_id  1412 non-null   object
 1   Visitor  1412 non-null   object
 2   Home     1412 non-null   object
dtypes: object(3)
memory usage: 33.2+ KB

In [ ]:
df_nhl_schedule.head()

      game_id        game     Visitor
0  2022021298  BOS at MTL  [BOS, MTL]
1  2022021299  CAR at FLA  [CAR, FLA]
2  2022021300  DET at T.B  [DET, T.B]
3  2022021301  N.J at WSH  [N.J, WSH]
4  2022021302  OTT at BUF  [OTT, BUF]